<%- include('partials/header') %>

<section class="py-5 text-center container">
    <div class="content mx-auto">
      <h1 class="quote fw-light fs-6 display-4">The only limit to our realization of tomorrow is our doubts of today.</h1>
      <p class="author lead text-body-secondary fs-6 display-5"> ~Franklin D. Roosevelt</p>
      <p class="quote-link-section lead text-body-secondary fs-6 display-5">
        <span class="quote-span">Wanna know a random quote? </span> 
        <a class="quote-link" href="/secrets">
          Click here
        </a>
      </p>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col mb-4">
        <div class="card card-custom shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Swami Vivekanand</h5>
            <p class="card-text">We are what our thoughts have made us; so take care about what you think. Words are secondary. Thoughts live; they travel far.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card card-custom shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Abraham Lincoln</h5>
            <p class="card-text">In the end, it's not the years in your life that count. It's the life in your years.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card card-custom shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Dr. A.P.J. Abdul Kalam</h5>
            <p class="card-text">A person who never made a mistake never tried anything new.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col mb-4">
        <div class="card card-custom shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Charles R. Swindoll</h5>
            <p class="card-text">Life is 10% what happens to us and 90% how we react to it.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card card-custom shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Oprah Winfrey</h5>
            <p class="card-text">The biggest adventure you can take is to live the life of your dreams.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card card-custom shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Allen Saunders</h5>
            <p class="card-text">Life is what happens when you're busy making other plans.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card card-custom shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Tony Robbins</h5>
            <p class="card-text">The only impossible journey is the one you never begin.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card card-custom shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Dalai Lama</h5>
            <p class="card-text">The purpose of our lives is to be happy.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card card-custom shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Mahatma Gandhi</h5>
            <p class="card-text">Live as if you were to die tomorrow. Learn as if you were to live forever.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container px-4 py-5" id="hanging-icons">
  <h2 class="pb-2">Features</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="col d-flex align-items-start">
      <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shuffle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.6 9.6 0 0 0 7.556 8a9.6 9.6 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.6 10.6 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.6 9.6 0 0 0 6.444 8a9.6 9.6 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5"/>
          <path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192"/>
        </svg>
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis">Random Quote Display</h3>
        <p>Generate a random quote which inspires you!</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
          <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
        </svg>
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis">Search by Author</h3>
        <p>You can search quotes by your favourite Author and start your day with motivation!</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
      </div>
      <div>
        <h3 class="fs-2 text-body-emphasis">Powered by QuoteViv API</h3>
        <p>Quotes sourced from highly trustable API source</p>
      </div>
    </div>
  </div>
</div>


<%- include('partials/footer') %>
